{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<title>{% block title %}Dashboard Domiciliario{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vendor/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'css/domi/map.css' %}">
{% endblock %}

{% block content %}
<div id="map" style="height: 600px; width: 100%;"></div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
<script src="{% static 'js/domi/map.js' %}"></script>
{% csrf_token %}
{% endblock %}