.light {
    --BackgroundColor-container: #fff;
    --HoverA: #733982;
    --BackgroundColor-btn: #441151;
    --Hover-btn: #733982;
    --Border-searchContainer: #ccc;
    --Ingreso: #ff958c;
    --MoradoClaro: #dbc7f1;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  
  .center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* considera el padding-top por navbar fijo */
    padding-bottom: 10px;
  }
  
  html, body {
    background: linear-gradient(to right, #efe8f7, #dbc7f1);
    height: 100%;
    margin: 0;
    padding-top: 30px;
  }
  
   /*container y form*/
    
  .container-global{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 150x rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 20px;
  }
  
  .container-global p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }
  
  .container-global span{
    font-size: 12px;
  }
  
  .container-global a{
    color: #ccc;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  
  .container-global button{
    background-color: #441151;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }

  .container-global button:hover{
    background-color: #dbc7f1;
    border-color: #dbc7f1;
    color: #441151;
  }
  
  .container-global button.hidden{
    background-color: transparent;
    border-color: #fff;
  }
  
  .container-global form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }
  
  .container-global input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
  
  @media screen and (max-width: 400px) {
    input {display: flex;}
    input {flex-direction: column;}
  }
  
  .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container-global.active .sign-in{
    transform: translateX(100%);
  }
  
  .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .form-container .formulario__grupo{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
      gap: 10px; /* Espacio entre las columnas */
    }
  
  
  .container-global.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
  }
  
  @keyframes move{
    0%, 49.99%{
      opacity: 0;
      z-index: 1;
    }
    50%, 100%{
      opacity: 1;
      z-index: 5;
    }
  }
  
  .social-icons{
    margin: 20px 0;
  }
  
  
  .social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  
  /*Validaciones formulario registro*/
  
  .formulario__grupo {
      display: flex;
      text-align: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
  }
  
  .form-container input {
      width: calc(100% - 30px); /* Adjust input width to consider padding */
      margin: 10px 
    }
    
  input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
      width: calc(100% - 30px); /* Adjust for container padding */
      display: block;
    }
  
  .formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  
  .formulario__input-error-activo{
    display: block;
  }
  
  .formulario__validacion-estado{
      position: absolute;
      display: flex;
      opacity: 0;
      left: 90px;
      z-index: 100;
      font-size: 16px;
  }
  
  .formulario__mensaje{
      margin: 0;
      height: 45px;
      line-height: 45px;
      background: #ff958c;
      padding: 0 15px;
      border-radius: 3px;
      display: none;
  }
  
  .formulario__mensaje-activo{
      display: block;
  }
  
  .formulario__mensaje-exito{
      font-size: 14px;
      color: green;
      display: none;
  }
  
  .formulario__mensaje-exito-activo{
      display: block;
  }
  
  .formulario__grupo-correcto .formulario__validacion-estado{
      color: green;
      opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__validacion-estado{
      color: #ff958c;
      opacity: 1;
  }
  
  @media screen and (max-width: 800px) {
      .formulario__grupo {
        grid-template-columns: 1fr;
      }
    }
  
  /*toggle y saludos*/
  
  .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
  }
  
  .container-global.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
  }
  
  .toggle{
    background-color: #b9a0bf;
    height: 100%;
    background: linear-gradient(to right, #a789ae, #7342ab);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .container-global.active .toggle{
    transform: translateX(50%);
  }
  
  .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .toggle-left{
    transform: translateX(-200%);
  }
  
  .container-global.active .toggle-left{
    transform: translateX(0);
  }
  
  .toggle-right{
    right: 0;
    transform: translateX(0);
  }
  
  .container-global.active .toggle-right{
    transform: translateX(200%);
  }
  
  /* formulario responsive
  */
  
  @media screen and (max-width: 800px) {
      .formulario{
          grid-template-columns: 1fr;
      }  
      
  }