{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/formulario_direccion.css' %}"> {% endblock %}


{% block content %}
<div class="checkout-container">
    <div class="card-body">
        <h1 class="checkout-title">Editar Dirección</h1>
        <form method="post" action="{% url 'cliente:direccion_editar' direccion.id %}">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.field.widget.input_type == 'checkbox' %}
                {% render_field field class="form-check-input" %}
                {% else %}
                {% render_field field class="form-control" placeholder=field.label %}
                {% endif %}
                {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

            <button class="btn btn-primary btn-large" type="submit">Actualizar Dirección</button>
        </form>
    </div>
</div>
{% endblock %}