{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/formularioss_signin.css' %}"> {# Enlace a su propio CSS #}
    
    <title>Agregar Direccion</title>
</head>
<body>
    
    <form action="{% url 'signin' %}" method="POST" class="card card-body">
        <div class="container-header">
            <h1>Agregar Dirección</h1>
        </div>
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.nombre_quien_recibe class="form-control" placeholder="Quien recibe" %}
                </div>
                <div class="form-group">
                    {% render_field form.pais class="form-control" placeholder="Pais" %}
                </div>
                <div class="form-group">
                    {% render_field form.departamento class="form-control" placeholder="Departamento" %}
                </div>
                <div class="form-group">
                    {% render_field form.ciudad class="form-control" placeholder="Ciudad" %}
                </div>
                <div class="form-group">
                    {% render_field form.direccion class="form-control" placeholder="Direccion" %}
                </div>
                <div class="form-group">
                    {% render_field form.codigo_postal class="form-control" placeholder="Codigo Postal" %}
                </div>
                <div class="form-group">
                    {% render_field form.info_adicional class="form-control" placeholder="Información adicional" %}
                </div>
                <div class="form-group">
                    <label for="{{ DireccionForm.es_predeterminada.id_for_label }}">
                    {% render_field form.es_predeterminada class="form-check-input" %}
                    Marcar como predeterminada
                    </label>
                </div>

                <button class="submit-button" type="submit" name="direction_submit">Guardar<i class="fas fa-arrow-right"></i></button>
        </form>
</body>
</html>

{% endblock content %}

