/* #map {
    height: 600px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
} */

/* Navbar estilos */
.navbar {
  background-color: var(--blanco);
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: var(--morado-oscuro);
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

a .register{
  color: var(--negro);
}

.navbar a:hover {
  color: var(--morado-oscuro);
}